.addWE{
    border:none;
    color: black;
}

.addtoWE {
    display: flex;
    flex-direction: column;
}

#notes{
    height:6em;
    background-color: rgb(184, 183, 183);
}

.lastStep{
    color: whitesmoke;
}

.lastStep p {
    margin-bottom: 15%;
}

.addWEbtn{
    color:black;
    padding: 2%;
    border-radius: 6px;
}