.WE_list{
    color:whitesmoke;
    display: flex;
    flex-direction: column;
    align-items:initial;
    justify-content: center;
}

.deletebtn{
    color:rgba(252, 248, 248, 0.767);
    background-color: transparent;
    Border:none;
    height: 2em;
    width: 3em;
}

.completeWorkout{
    color: whitesmoke;
    background-color: green;
    border: none;
    border-radius: 5px;
    margin: 15%;
    height: 5em;
    width: 10em;

}

.addWE{
    margin:8%;
    background-color: transparent;
    color: white;
    border:none;

}


.contents{
    margin: 2em;
    
}
