.folderButton{
    width: 30em;
   background-color: rgba(252, 250, 249, 0.87);
    color: black;
    /* margin: 1em; */
    /* margin-left: 30%; */
    /* margin-right: 30%; */
    margin-top: 1em;
    padding-top: 6%;
    padding-bottom: 6%;
    border-radius: 8px;
    
}

.addBtn{
    color:black;
    background-color: rgba(252, 250, 249, 0.87);
    border-radius: 6px;
    height: 9em;
    width: 20em;
    margin-left: 36%;
    margin-right: 35%;
    margin-bottom: 5%;
    
}





