.Btn{
    height: 50%;
    width:80%;
    margin: 20%;
    margin-top: 30%;
    border:none;
    color: whitesmoke;
    background-color: transparent;
}

.label{
    font-size: large;
}

img{
    height: 100%;
    width:100%;
    border-radius: 2em;
    border-color: rgb(182, 180, 180);
    border-style:double;
    padding: 5px;
    background-color: black;

}


img:hover{
    opacity: .8;
} 

@media only screen and (max-width:1017px)  {
    /* .Btn{
        height: 5em;
        width: 5em;
        background-color: transparent;
        border: white solid 1px;
        border-radius: 10px;
        
    }; */
    /* .label{
        font-size: larger;
        align-items: center
    } */
    /* img{
        
    } */
}