.Btn{
    height: 18em;
    width: 18em;
    margin: 20px;
    margin-top: 30%;
    border-radius: 2em;
    border:none;
    color: rgb(189, 175, 171);
    
}

img{
    height: 18em;
    width:18em;
    border-radius: 2em;
    border-color: rgb(182, 180, 180);
    border-style:double;
    padding: 5px;
    opacity: .7;
    background-color: black;

}


img:hover{
    opacity: 1.0;
}

