.Btn{
    height: 18em;
    width: 18em;
    margin: 20px;
    margin-top: 30%;
    border-radius: 2em;
    border:none;
    color: rgb(255, 255, 255);
}

.label{
    font-size: 2em;
}

img{
    height: 18em;
    width:18em;
    border-radius: 2em;
    border-color: rgb(182, 180, 180);
    border-style:double;
    padding: 5px;
    background-color: black;

}


img:hover{
    opacity: .8;
}

