
.link{
    color:whitesmoke;
    text-decoration: none;
    list-style-type: none;
    padding: 2%;;
    font-size: large;
}

.logout_btn{
    text-decoration: none;
    list-style-type: none;
    padding: 2%;;
    color:rgb(236, 4, 4);
    text-decoration: none;
    list-style-type: none;
    margin-left: 80%;
    background-color: transparent;
    border: none;

}



.body{
    margin: 0px;
}


